Assignment 03/Part 02/TestClient/App_WebReferences/TestServices/UVService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UVService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3174/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3174/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3174/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WeatherService" />
      <xsd:import schemaLocation="http://localhost:3174/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SolarIntensity_InputMessage">
    <wsdl:part name="parameters" element="tns:SolarIntensity" />
  </wsdl:message>
  <wsdl:message name="IService1_SolarIntensity_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolarIntensityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_convertLatLong_InputMessage">
    <wsdl:part name="parameters" element="tns:convertLatLong" />
  </wsdl:message>
  <wsdl:message name="IService1_convertLatLong_OutputMessage">
    <wsdl:part name="parameters" element="tns:convertLatLongResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_convertZip_InputMessage">
    <wsdl:part name="parameters" element="tns:convertZip" />
  </wsdl:message>
  <wsdl:message name="IService1_convertZip_OutputMessage">
    <wsdl:part name="parameters" element="tns:convertZipResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Weather5day_InputMessage">
    <wsdl:part name="parameters" element="tns:Weather5day" />
  </wsdl:message>
  <wsdl:message name="IService1_Weather5day_OutputMessage">
    <wsdl:part name="parameters" element="tns:Weather5dayResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_XMLScheduler_InputMessage">
    <wsdl:part name="parameters" element="tns:XMLScheduler" />
  </wsdl:message>
  <wsdl:message name="IService1_XMLScheduler_OutputMessage">
    <wsdl:part name="parameters" element="tns:XMLSchedulerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ShoppingCart_InputMessage">
    <wsdl:part name="parameters" element="tns:ShoppingCart" />
  </wsdl:message>
  <wsdl:message name="IService1_ShoppingCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShoppingCartResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SolarIntensity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SolarIntensity" message="tns:IService1_SolarIntensity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SolarIntensityResponse" message="tns:IService1_SolarIntensity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="convertLatLong">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/convertLatLong" message="tns:IService1_convertLatLong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/convertLatLongResponse" message="tns:IService1_convertLatLong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="convertZip">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/convertZip" message="tns:IService1_convertZip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/convertZipResponse" message="tns:IService1_convertZip_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Weather5day">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Weather5day" message="tns:IService1_Weather5day_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Weather5dayResponse" message="tns:IService1_Weather5day_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XMLScheduler">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/XMLScheduler" message="tns:IService1_XMLScheduler_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/XMLSchedulerResponse" message="tns:IService1_XMLScheduler_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShoppingCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShoppingCart" message="tns:IService1_ShoppingCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShoppingCartResponse" message="tns:IService1_ShoppingCart_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolarIntensity">
      <soap:operation soapAction="http://tempuri.org/IService1/SolarIntensity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertLatLong">
      <soap:operation soapAction="http://tempuri.org/IService1/convertLatLong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertZip">
      <soap:operation soapAction="http://tempuri.org/IService1/convertZip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Weather5day">
      <soap:operation soapAction="http://tempuri.org/IService1/Weather5day" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XMLScheduler">
      <soap:operation soapAction="http://tempuri.org/IService1/XMLScheduler" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShoppingCart">
      <soap:operation soapAction="http://tempuri.org/IService1/ShoppingCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UVService">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:3174/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>